 body {

    margin-right: 30px;
    padding: 30px;
    background-color: #e8ccf0;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
 }

div p {
    text-justify: auto;
    margin: 20px;
    padding-top: 20px;
    
    
}
div section button {
    margin-top: 0;
     padding: 80%;
     content:normal;
    background-color: rgb(208, 211, 238);
     font-size: 15px;
     font-family: "Segoe UI";
     
}
img{margin:auto;
    width: 15%;
    display:block

    

}

.rede ul{
display: flex;
list-style: none;

}
  
.rede.ul.li{

    list-style-type: none;
    padding-right: 40px;

}
header{
    margin: auto;
    padding: 50px;
    text-align: center;

 
}