body img {
    margin: 0;
    height:120px;
    width: 140px;
}


 .div1 {
    margin-top: auto;
    padding: 5px;
    background-color: #6036affb;
    color: #000000;
    text-align:justify;
    justify-content:space-around;
}
.div1 h1{ 
    font-family: "Segoe UI";
    font-size: 20px;
    color: #ffffff;}

.div1 p{ 
    font-family: "Segoe UI";
    font-size: 20px;
    color: #ffffff;
}
